.center{
  text align: center;
  font-family: monospace;
  color: white;
}
img{
  margin: 10px;
  padding: 5px;
  width: 92%;
  height: auto;
  border:1px solid black;
  float: none;
}
.boxmodel{
   border:1px solid black;
   padding: 30px;
   margin: 10px;
   background-color: white;

}
.everything{
  background-color: lightgrey;
}
h1{
  text-align: center;
  border:2px solid black;
  background-color: lightgrey;
}
.change{
  font-family: monospace;
}
.boxmodel li {
  color:darkblue;
}
h4{
  text-align: center;
}
.about-me-hid{
  display: none;
}
.background-hiding{
  display: none;
}
.clickable{
  cursor: pointer;
}
.clickable1{
  cursor: pointer;
}
