.center{
  text-align: center;
  font-family: monospace;
  color: grey;
}
img{
  width: 30%;
  height: auto;
}
.boxmodel{
   border:2px solid black;
   padding: 30px;
   margin: 10px;
   background-color: grey;

}
.everything{
  background-color: lightgrey;
}
